@font-face
  font-family: 'OpenSans-Bold'
  src: url('../../assets/fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.otf') format('opentype')
  src: url('../../assets/fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype')
  src: url('../../assets/fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.woff') format('woff')
  src: url('../../assets/fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.woff2') format('woff2')
  src: url('../../assets/fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.ttf') format('truetype')
  font-style: normal

@font-face
  font-family: 'OpenSans-Light'
  src: url('../../assets/fonts/OpenSans/OpenSans-Light/OpenSans-Light.otf') format('opentype')
  src: url('../../assets/fonts/OpenSans/OpenSans-Light/OpenSans-Light.eot?#iefix') format('embedded-opentype')
  src: url('../../assets/fonts/OpenSans/OpenSans-Light/OpenSans-Light.woff') format('woff')
  src: url('../../assets/fonts/OpenSans/OpenSans-Light/OpenSans-Light.woff2') format('woff2')
  src: url('../../assets/fonts/OpenSans/OpenSans-Light/OpenSans-Light.ttf') format('truetype')
  font-style: normal

@font-face
  font-family: 'OpenSans-Regular'
  src: url('../../assets/fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.otf') format('opentype')
  src: url('../../assets/fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype')
  src: url('../../assets/fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.woff') format('woff')
  src: url('../../assets/fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.woff2') format('woff2')
  src: url('../../assets/fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.ttf') format('truetype')
  font-style: normal

@font-face
  font-family: 'OpenSans-SemiBold'
  src: url('../../assets/fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.otf') format('opentype')
  src: url('../../assets/fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype')
  src: url('../../assets/fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.woff') format('woff')
  src: url('../../assets/fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.woff2') format('woff2')
  src: url('../../assets/fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.ttf') format('truetype')
  font-style: normal

