=berlingskeSerif_blkItalic
  font-family: 'BerlingskeSerif-BlkItalic', serif

=berlingskeSerif_boldItalic
  font-family: 'BerlingskeSerif-BoldItalic', serif

=berlingskeSerif_italic
  font-family: 'BerlingskeSerif-Italic', serif

=berlingskeSerif_ltItalic
  font-family: 'BerlingskeSerif-LtItalic', serif

=berlingskeSerif_mdItalic
  font-family: 'BerlingskeSerif-MdItalic', serif

=gothamPro_bold
  font-family: 'GothamPro-Bold', sans-serif

=gothamPro_light
  font-family: 'GothamPro-Light', sans-serif

=gothamPro_medium
  font-family: 'GothamPro-Medium', sans-serif

=gothamPro_regular
  font-family: 'GothamPro', sans-serif

