section.note
  input(type="text" value="Note Title").note__title
  hr.note__line
  div.note__todoItems
    div.note__todoItems-add
      input(type="text")
      button(type="submit").btn Add Todo
    div.note__todoItems-list
      div.note__todoItems-item
        input(type="checkbox")
        input(type="text" value="Todo Item 1")
      div.note__todoItems-item
        input(type="checkbox")
        input(type="text" value="Todo Item 2")
