section.app
  h1.app__title Todo Application
  hr.app__line
  div.app__block
    button.btn.app__btn_add-note Add Note
    div.app__noteList
      div.app__note
        div.app__note-top
          div.app__note-title
            p Note 1
          div.app__note-elements
            div.app__note-element.app__note-element_edit
              <svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.09638 15.7026L2.12136 21.9203L8.33902 19.9453L4.09638 15.7026ZM21.2132 7.07106L9.19242 19.0919L4.94978 14.8492L16.9706 2.82842L21.2132 7.07106ZM17.7509 2.04816C18.882 0.916989 20.7488 0.949739 21.9203 2.12131C23.0919 3.29288 23.1247 5.15963 21.9935 6.2908L17.7509 2.04816Z" fill="#162230"/>
              </svg>
            div.app__note-element.app__note-element_close
              <svg viewBox="0 0 18 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99994 0C6.23851 0 3.99994 1.79086 3.99994 4H13.9999C13.9999 1.79086 11.7614 0 8.99994 0ZM17.1784 26.0817L17.9999 6H-6.10352e-05L0.821465 26.0817C0.865314 27.1536 1.74702 28 2.81979 28H15.1801C16.2529 28 17.1346 27.1536 17.1784 26.0817Z" fill="#162230"/>
              </svg>
        div.app__note-todoItems
          div.app__note-todoItem
            input(type="checkbox").app__note-todoItem_input
            label.app__note-todoItem_label Todo Item 1
          div.app__note-todoItem
            input(type="checkbox").app__note-todoItem_input
            label.app__note-todoItem_label Todo Item 2
          div.app__note-todoItem
            input(type="checkbox").app__note-todoItem_input
            label.app__note-todoItem_label Todo Item 3
          div.app__note-todoItem_ellipsis
            p ...

